
  body {
    background-color: powderblue;
                         }
  hr {
       background-color: greay;
       border-style:none;
       border-top: dotted;
       border-width: 5px;
       width: 5%;
       height: 0px;
           }
  h1 {
    color: #66BFBF;
  }
  h3
  {color: #57b9a8;}
